body {
	background-color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	height: 80px;
	background-color: #333;
	color: #ffffff;
	padding: 5px;
	border-style: solid;
	border-color: #222;
}

header img {
	height: 75px;
	width: auto;
	float: left;
	margin-left: 230px;
}

/* Adicione um espaçamento para a esquerda do texto do título */
title {
	padding-left: 40px;
}


header h1 {
	font-family: 'Bebas Neue';
	font-family: 'Fredoka', sans-serif;
	font-family: 'Inspiration';
	font-family: 'Lato', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Smooch Sans', sans-serif;
	font-family: 'Staatliches';
	font-size: 60px;
	color: rgb(255, 255, 255);
	display: inline-block;
	margin: 0;
}



nav {
	float: right;
	margin-top: 0;
}

/*.cabecalho {
	background-color: #0062cc;
}*/

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 0;
}

nav li:first-child {
	margin-left: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
	background-color: black;
}

/*.botao {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.botao:hover {
	background-color: #ffffff;
}
*/
.card {
	width: 300px;
	background-color: #333;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.card img {
	width: 100%;
	height: auto;
	display: block;
	color: #fff;
}

.card-info {
	padding: 20px;
}

.card-info h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #fff;
}

.card-info p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #fff;
}

.card-info a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.card-info a:hover {
	background-color: black;
}