* {
	padding: 0;
	margin: 0;
}

header {
	grid-area: cabecalho;
}

main {
	grid-area: conteudo;
}

footer {
	grid-area: rodape;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 70px;
	grid-template-areas:
		'cabecalho'
		'conteudo'
		'rodape';
}

.cabecalho {
	background-color: rgb(116, 185, 255);
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.cabecalho a {
	text-decoration: none;
	color: #000;
	font-size: 1.2em;
	padding: 13px 20px;
}

.logo {
	display: flex;
	flex-grow: 1;
}

.logo img {
	margin: 0;
	height: 60px;
}

.menu {
	flex-grow: 10;
}

.menu a:hover {
	background-color: #1098db;
	color: #fff;
}

.menu ul {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.menu li {
	margin: 0px 20px;
}

.autenticacao {
	flex-grow: 1;
}

.autenticacao .botao {
	color: #000;
	border-radius: 30px;
	padding: 10px 25px;
	margin-right: 10px;
}

.destaque {
	background: rgb(207, 207, 10);
	box-shadow: 2px 2px 1px 1px #000;
}

.destaque:active {
   box-shadow: none; 
}

.rodape {
	display: flex;
	justify-content: center;
}

.rodape p {
	align-self: flex-end;
}
