* {
	padding: 0;
	margin: 0;
}

header {
	grid-area: cabecalho;
}

main {
	grid-area: conteudo;
}

footer {
	grid-area: rodape;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 70px;
	grid-template-areas:
		'cabecalho'
		'conteudo'
		'rodape';
}

a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.7;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.image-logo {
	height: 50px;
}

.store-name {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 9px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	background: rgb(116, 185, 255);
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
}

.mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
}

@media (max-width: 999px) {
	body {
		overflow-x: hidden;
	}

	.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 50vw;
		height: 92vh;
		background: rgb(116, 185, 255);
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}

	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}

	.mobile-menu {
		display: block;
	}
}

.nav-list.active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
	opacity: 0;
}

.mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}

.conteudo {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'promocao'
		'produtos'
		'final';
}

.image-promo {
	background-color: rgb(113, 140, 183);
}

.produtos {
	background-color: rgb(63, 110, 186);
}

.final {
	background-color: rgb(16, 47, 96);
}

.image-promo {
	grid-area: promocao;
}

.produtos {
	grid-area: produtos;
}

.final {
	grid-area: final;
}

.card-login,
.card-cadastro {
	height: 400px;
	width: 300px;
	background-color: rgb(150, 201, 185);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.rodape {
	display: flex;
	justify-content: center;
}

.rodape p {
	align-self: flex-end;
}